:root {
    --main-color: #1D5458;
    --hexagon-width-min: 4rem;
    --hexagon-left: 1.57rem;
}

* {
    font-family: "Open Sans", sans-serif;
    font-family: 'cwTeXYen', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: white;
}


html {
    height: 100%;
}

body {
    background-color: var(--main-color) !important;
    height: 100%;
}

footer > pre {
    font-size: 0.5rem;
    color: white;
}

.text-font {
    font-size: 0.8rem;
}

.link-point {
    width: 1rem;
    height: 1rem;
}

.paint-exponent {
    color: #000;
}

.show-monitor {
    min-height: 20rem;
}

.hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000;
    width: 8.34rem;
    min-height: 4.217rem;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 4.217rem solid transparent;
    border-right: 4.217rem solid transparent;
}

.hexagon:before {
    bottom: 99.95%;
    left: var(--hexagon-left);
    border-bottom: 3rem solid white;
}

.hexagon:after {
    top: 99.95%;
    left: var(--hexagon-left);
    border-top: 3rem solid white;
}

.footer_info > p {
    font-size: 0.5rem;
}

.fa-style {
    z-index: 100;
}

.monitor-item-close {
    display: none;
}

.monitor-item-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: auto;
}

.monitor-item-open > div {
    background-color: white;
    font-size: 18px;
    color: black;
}

.monitor-status {
    width: 6.25rem;
    height: 6.25rem;

}

.info-btn-group {
    background-color: white;
}

/*新畫面*/
.config-part {
    display: none;
}

/*Ｘ 的 設定值*/
.fa-style {
    background-color: white;
    color: black;
}

@media (max-width: 1200px) {
    * {
        font-size: 20px !important;;
    }

    :root {
        --hexagon-left: 1.6rem !important;;
    }
}

@media (max-width: 992px) {
    * {
        font-size: 18px !important;;
    }

    :root {
        --hexagon-left: 0rem !important;;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 12px !important;
    }
}

@media (max-width: 375px) {
    * {
        font-size: 10px !important;;
    }
}
