
.btn-login.btn-lg {
    padding: 0.25rem !important;
}
.item-width-login{
    width: 30% !important;
}

.item-width {
    width: 40% !important;
}

.btn-block + .btn-block{
    margin-top: 0.1rem!important;
}

.logo-show{
    height: 10rem;
}


@media (max-width: 1200px) {
    .item-width {
        width: 50% !important;
    }
    .item-width-login{
        width: 50% !important;
    }
}

@media (max-width: 992px) {
    .item-width {
        width: 75% !important;
    }
    .item-width-login{
        width: 50% !important;
    }
}

@media (max-width: 768px) {
    .item-width {
        width: 75% !important;
    }
    .item-width-login{
        width: 50% !important;
    }
}